# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_BUCKET_NAME=your_bucket_name_here
AWS_REGION=ap-northeast-2

# ChromaDB
CHROMA_DB_PATH=./db/chroma

# SQLite
SQLITE_DB_PATH=./db/metadata.db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/