# 환경변수
.env
ui-react/.env.remote

# 파이썬
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# 영상, 사진 파일
*.mp4
*.avi
*.mov
*.mkv
*.m4v
*.webm
*.jpg


# 추출프레임
pipeline/frames/

# 청크/로컬 DB 산출물
simulator/chunks/
db/chroma/
db/*.db
db/*.sqlite
db/*.sqlite3

# 기타
.DS_Store
.idea/
*.egg-info/

# 프론트엔드
node_modules/
dist/
*.tsbuildinfo
