# Backend
fastapi
uvicorn

# Task Queue
celery
# rabbitmq  <- 제거 권장

# AI/ML
torch==2.2.2
torchvision==0.17.2
openai-clip
langchain
langchain-openai

# Video Processing
opencv-python-headless
ffmpeg-python

# Database & Storage
chromadb
boto3

# Frontend
streamlit